<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class="wrap">
        
        {% block navigation %}{% endblock %}

    <div class="container" id='app'>
        
            {% block content %}{% endblock %}
    </div>

</div>
<script src="https://cdn.bootcss.com/x-tag/2.0.1-beta/x-tag-raw.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>  

<script>
$(document).pjax("a","#app");

</script>

{% block scripts %}{% endblock %}
</body>
</html>